.controls {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.break-controls-inner,
.session-controls-inner {
  display: flex;
  align-items: center;
  width: 100%;
}

h3 {
  margin-bottom: 0.5rem;
}

button {
  width: 5rem;
  margin: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

button .primary {
  fill: #c53030;
}

button .secondary {
  fill: #fff;
}

.break-length,
.session-length {
  font-weight: bold;
  font-size: 1.5rem;
}

.display {
  text-align: center;
  margin: 2rem;
}

.timer-label {
  font-size: 3rem;
}

.time-left {
  font-size: 3rem;
}

.timer-controls {
  text-align: center;
}

.icon-history .secondary {
  fill: #c53030;
}
